<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}DJ LIVING &amp; DANCE MUSIC{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/all.css') }}" type="text/css" />
    {% endblock %}

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/jquery-1.10.2.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.main.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/select.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/form.js') }}"></script>

        <!--[if lte IE 8]><script type="text/javascript" src="{{ asset('js/ie.js') }}"></script><![endif]-->
        <!--[if lte IE 9]><script type="text/javascript" src="{{ asset('js/pie.js') }}"></script><![endif]-->
    {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>
<body>
<div id="wrapper">
<div class="w1">
<div class="ad-panel">
    <a href="#"><img src="{{ asset('images/ad1.jpg') }}" alt="image description"></a>
</div>
<div class="navigation-panel">
    <div class="n-holder">
        <div class="n-frame">
            <nav id="nav">
                <ul>
                    <li class="active"><a href="#">{{ get_controller_name(app.request.attributes) }} главная</a></li>
                    <li><a href="/articles">Почитать</a></li>
                    <li><a href="/events">афиша</a></li>
                    <li><a href="/chronicle">хроника</a></li>
                    <li><a href="/music">музыка</a></li>
                    <li><a href="/style">стиль</a></li>
                    <li><a href="/equipment">техника</a></li>
                    <li><a href="/places">места</a></li>
                    <li><a href="/contacts">контакты</a></li>
                </ul>
            </nav>
            <!-- add class="select" -->
            <div class="enter-box">
                <div class="personal-ico">
                    <a href="#">
                        <img src="{{ asset('images/personal-ico1.jpg') }}" width="40" height="40" alt="imge description" />
                    </a>
                </div>
                <a href="#" class="btn-enter"><strong>вход</strong></a>
            </div>
        </div>
    </div>
</div>
<section class="social-panel">
    <ul class="social">
        <li><a href="#"><i class="icon-facebook"></i></a></li>
        <li class="ico-vk"><a href="#"><i class="icon-vkontakte-rect"></i></a></li>
    </ul>
    <div class="social-content">
        <i class="icon-twitter"></i>
        <span class="text"><a href="#">Ричи Хоутин в последнее время стал уделять пристальное внимание своему легендарному прошлому и готовит переиздание работ, выпущенных под именем Plastikman.</a></span>
    </div>
</section>
<div id="main">
    {% block sidebar %}
    <aside id="sidebar">
        <div class="ad">
            <a href="#">
                <img src="{{ asset('images/ad2.jpg') }}" width="200" height="400" alt="image description">
            </a>
        </div>
        <div class="ad small-width">
            <a href="#">
                <img src="{{ asset('images/ad7.jpg') }}" width="200" height="480" alt="image description">
            </a>
        </div>
        <div class="social-tab">
            <ul class="tab-nav">
                <li class="active"><a href="#">facebook</a></li>
                <li class="vk"><a href="#">vk</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab active">
                    <div class="facebook-box">
                        <a href="#">
                            <img src="{{ asset('images/facebook_box.jpg') }}" width="178" height="419" alt="image description">
                        </a>
                    </div>
                </div>
                <div class="tab">
                    <div class="facebook-box">
                        <a href="#">
                            <img src="{{ asset('images/facebook_box.jpg') }}" width="178" height="425" alt="image description">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ad">
            <a href="#">
                <img src="{{ asset('images/ad3.jpg') }}" width="200" height="400" alt="image description">
            </a>
        </div>
        <div class="ad">
            <a href="#">
                <img src="{{ asset('images/ad4.jpg') }}" width="200" height="400" alt="image description">
            </a>
        </div>
        <div class="ad small-width">
            <a href="#">
                <img src="{{ asset('images/ad2.jpg') }}" width="200" height="400" alt="image description">
            </a>
        </div>
    </aside>
    {% endblock %}
    <section id="content">
        {% block headerbox %}
        <div class="header-box">
            <strong class="logo">
                <a href="#">DJ LIVING &amp; BREATHING DANCE MUSIC</a>
            </strong>
            <div class="gallery">
                <ul class="gmask">
                    <li>
                        <img src="{{ asset('images/personal-ico2.jpg') }}" width="130" height="130" alt="image description">
                        <div class="description">
                            <h2>Roy Davis</h2>
                            <p>Этот человек излучает вдохновение, как для своих коллег, так и для восторженных подражателей» ПитТонг, весна 2009 Свежие и яркие звуки электронной музыки когда-то соблазнили шестнадцатилетнего любителя гранжа Джеймса Забиелу на покупку первой пары примитивных вертушек. Промотаем эту историю вперёд...</p>
                        </div>
                    </li>
                    <li class="active">
                        <img src="{{ asset('images/personal-ico2.jpg') }}" width="130" height="130" alt="image description">
                        <div class="description">
                            <h2>Roy Davis</h2>
                            <p>2Этот человек излучает вдохновение, как для своих коллег, так и для восторженных подражателей» ПитТонг, весна 2009 Свежие и яркие звуки электронной музыки когда-то соблазнили шестнадцатилетнего любителя гранжа Джеймса Забиелу на покупку первой пары примитивных вертушек. Промотаем эту историю вперёд...</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ asset('images/personal-ico2.jpg') }}" width="130" height="130" alt="image description">
                        <div class="description">
                            <h2>Roy Davis</h2>
                            <p>3Этот человек излучает вдохновение, как для своих коллег, так и для восторженных подражателей» ПитТонг, весна 2009 Свежие и яркие звуки электронной музыки когда-то соблазнили шестнадцатилетнего любителя гранжа Джеймса Забиелу на покупку первой пары примитивных вертушек. Промотаем эту историю вперёд...</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ asset('images/personal-ico2.jpg') }}" width="130" height="130" alt="image description">
                        <div class="description">
                            <h2>Roy Davis</h2>
                            <p>4Этот человек излучает вдохновение, как для своих коллег, так и для восторженных подражателей» ПитТонг, весна 2009 Свежие и яркие звуки электронной музыки когда-то соблазнили шестнадцатилетнего любителя гранжа Джеймса Забиелу на покупку первой пары примитивных вертушек. Промотаем эту историю вперёд...</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ asset('images/personal-ico2.jpg') }}" width="130" height="130" alt="image description">
                        <div class="description">
                            <h2>Roy Davis</h2>
                            <p>5Этот человек излучает вдохновение, как для своих коллег, так и для восторженных подражателей» ПитТонг, весна 2009 Свежие и яркие звуки электронной музыки когда-то соблазнили шестнадцатилетнего любителя гранжа Джеймса Забиелу на покупку первой пары примитивных вертушек. Промотаем эту историю вперёд...</p>
                        </div>
                    </li>
                </ul>
                <ul class="pagination">
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                </ul>
            </div>
        </div>
        {% endblock %}
        {% block body %}{% endblock %}
    </section>
</div>
</div>
</div>
<footer id="footer">
    <div class="f-holder">
        <p class="copyright">&copy; dj mag</p>
        <a href="#" class="feedback-link"><strong>обратная связь</strong></a>
    </div>
</footer>
<div class="popup size2" id="enter" style="left: -9999px;">
    <span class="bg" style="height: 955px; width: 1905px;">&nbsp;</span>
    <div class="popup-box">
        <a href="#" class="btn-close"><i class="icon-cancel"></i></a>
        <article class="enter-block">
            <h2>вход</h2>
            <form action="#" class="article-form">
                <div class="row">
                    <input type="text" placeholder="логин">
                </div>
                <div class="row">
                    <input type="password" placeholder="пароль">
                </div>
                <div class="remember-link"><a href="#" id="forget-link">я забыл пароль</a></div>
                <div class="row">
                    <label class="check-label">
                        <input type="checkbox" checked="checked">
                        <span class="text">Запомнить</span>
                    </label>
                    <button class="btn alignright"><strong>войти</strong></button>
                </div>
            </form>
            <div class="new-account"><a href="#" id="add-new-account">я новый пользователь</a></div>
        </article>
    </div>
</div>
<div class="popup size2" id="recapture-password" style="left: -9999px;">
    <span class="bg">&nbsp;</span>
    <div class="popup-box">
        <a href="#" class="btn-close"><i class="icon-cancel"></i></a>
        <article class="enter-block">
            <h2>Восстановление пароля</h2>
            <form action="#" class="article-form">
                <div class="row">
                    <input type="text" placeholder="email">
                </div>
                <div class="row">
                    <button class="btn alignright"><strong>сбросить пароль</strong></button>
                </div>
                <div class="note">На ваш электронный ящик будет выслано письмо со ссылкой для сброса пароля. Укажите новый пароль</div>
            </form>
            <div class="new-account"><a href="#" id="remember-link">я вспомнил пароль</a></div>
        </article>
    </div>
</div>
<div class="popup size2" id="registration" style="left: -9999px;">
    <span class="bg">&nbsp;</span>
    <div class="popup-box">
        <a href="#" class="btn-close"><i class="icon-cancel"></i></a>
        <article class="enter-block">
            <h2>регистрация</h2>
            <form action="#" class="article-form">
                <div class="row">
                    <input type="text" placeholder="email">
                </div>
                <div class="row">
                    <a href="#" class="info-registration"><strong>что мне даст<br>регистрация</strong></a>
                    <button class="btn alignright"><strong>регистрация</strong></button>
                </div>
                <div class="note">Укажите ваш электронный ящик. На этот адрес будет выслан пароль, который, при желании, вы всегда сможете поменять.</div>
            </form>
            <div class="new-account"><a href="#" id="registration-done">я уже регистрировался ранее</a></div>
        </article>
    </div>
</div>
<div class="popup size2" id="registration-info" style="left: -9999px;">
    <span class="bg">&nbsp;</span>
    <div class="popup-box">
        <a href="#" class="btn-close"><i class="icon-cancel"></i></a>
        <article class="enter-block">
            <h2>что даст регистрация</h2>
            <div class="registration-info-box">
                <h3>Contrary to popular belief</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce enim sem, pharetra ut neque et, pulvinar sagittis neque. Vivamus at nisl eu mauris pharetra aliquet.</p>
                <h3>hendrerit ut fringilla mattis in tellus</h3>
                <p>Maecenas arcu erat, gravida et mollis non, commodo.</p>
                <h3>Aenean iaculis</h3>
                <p>Pellentesque ac suscipit tellus, vulputate fringilla nibh. Nam et ligula vitae nibh pharetra ornare. Duis commodo enim eget leo sodales accumsan.</p>
            </div>
            <div class="new-account"><a href="#" id="registration-want">хочу зарегистрироваться</a></div>
        </article>
    </div>
</div>
</body>
</html>
