{# src/Acme/HelloBundle/Resources/views/Hello/index.html.twig #}
{% extends '::dj.html.twig' %}
{% block body %}
    <section class="twocolumns">
    <div class="twocolumns-holder">
        <article class="box chronicle-box">
            <h2 class="title-text"><a href="#">хроника</a><i class="icon-right-dir"></i></h2>
            <ul class="chronicle-list">
                <li>
                    <div class="photo">
                        <a href="#" class="btn-play"><i class="icon-right-dir"></i></a>
                        <img src="{{ asset('images/img1.jpg') }}" width="200" height="120" alt="image description">
                    </div>
                    <time class="time">21.12.13 @ Plau Club</time>
                    <p><strong><a href="#">SCSI9 на дне рождения клуба</a></strong></p>
                </li>
                <li>
                    <div class="photo">
                        <a href="#" class="btn-play"><i class="icon-right-dir"></i></a>
                        <img src="{{ asset('images/img2.jpg') }}" width="200" height="120" alt="image description">
                    </div>
                    <time class="time">22.12.13 @ Tresor Club</time>
                    <p><strong><a href="#">Steve Stoll: закрытии клубного...</a></strong></p>
                </li>
                <li>
                    <div class="photo">
                        <a href="#" class="btn-play"><i class="icon-right-dir"></i></a>
                        <img src="{{ asset('images/img3.jpg') }}" width="200" height="120" alt="image description">
                    </div>
                    <time class="time">22.12.13 @ Mantra Party Bar</time>
                    <p><strong><a href="#">Live Betoko</a></strong></p>
                </li>
                <li>
                    <div class="photo">
                        <a href="#">
                            <img src="{{ asset('images/img4.jpg') }}" width="200" height="120" alt="image description">
                        </a>
                    </div>
                    <time class="time">20.12.13 @ Lab</time>
                    <p><strong><a href="#">Blacky-bit Eve</a></strong></p>
                </li>
                <li>
                    <div class="photo">
                        <a href="#">
                            <img src="{{ asset('images/img5.jpg') }}" width="200" height="120" alt="image description">
                        </a>
                    </div>
                    <time class="time">22.12.13 @ Closer</time>
                    <p><strong><a href="#">Mustache-party</a></strong></p>
                </li>
                <li>
                    <div class="photo">
                        <a href="#">
                            <img src="{{ asset('images/img6.jpg') }}" width="200" height="120" alt="image description">
                        </a>
                    </div>
                    <time class="time">25.12.13 @ Stairs Vintage</time>
                    <p><strong><a href="#">Ho-ho-ho &amp; The Gang</a></strong></p>
                </li>
            </ul>
        </article>
        <div class="ad ad1 alignleft">
            <a href="#">
                <img src="{{ asset('images/ad5.jpg') }}" width="160" height="480" alt="image description">
            </a>
        </div>
    </div>
    <div class="twocolumns-holder">
        <div class="col1">
            <div class="ad margin-b">
                <a href="#">
                    <img src="{{ asset('images/ad6.jpg') }}" width="300" height="300" alt="image description">
                </a>
            </div>
            <article class="box style-box">
                <div class="photo">
                    <a href="#">
                        <img src="{{ asset('images/img7.jpg') }}" alt="image description">
                    </a>
                </div>
                <div class="content">
                    <h2 class="title-text"><a href="#">стиль</a><i class="icon-right-dir"></i></h2>
                    <h3>Постмодерн диско</h3>
                </div>
            </article>
        </div>
        <article class="box bill-box alignleft">
            <h2 class="title-text"><a href="#">афиша</a><i class="icon-right-dir"></i></h2>
            <ul class="bll-list">
                <li>
                    <div class="photo">
                        <a href="#">
                            <img src="{{ asset('images/img8.jpg') }}" width="120" height="120" alt="image description">
                        </a>
                    </div>
                    <div class="description">
                        <time class="time"><strong>28.12.13</strong> <mark>//</mark> <strong>22:00 @ Closer</strong></time>
                        <span class="title">Episode 9</span>
                        <p><em>Lorem ipsum dolor sit, consectetur adipiscing elit. sagittis magna non tincidunt euismod.</em></p>
                    </div>
                </li>
                <li>
                    <div class="photo">
                        <a href="#">
                            <img src="{{ asset('images/img9.jpg') }}" width="120" height="120" alt="image description">
                        </a>
                    </div>
                    <div class="description">
                        <time class="time"><strong>28.12.13</strong> <mark>//</mark> <strong>22:00 @ Closer</strong></time>
                        <span class="title">DJ Fomin</span>
                        <p><em>Lorem ipsum dolor sit, consectetur adipiscing elit. sagittis magna non tincidunt euismod.</em></p>
                    </div>
                </li>
                <li>
                    <div class="photo">
                        <a href="#">
                            <img src="{{ asset('images/img10.jpg') }}" width="120" height="120" alt="image description">
                        </a>
                    </div>
                    <div class="description">
                        <time class="time"><strong>28.12.13</strong> <mark>//</mark> <strong>22:00 @ Closer</strong></time>
                        <span class="title">Wow-wow Dance</span>
                        <p><em>Lorem ipsum dolor sit, consectetur adipiscing elit. sagittis magna non tincidunt euismod.</em></p>
                    </div>
                </li>
                <li>
                    <div class="photo">
                        <a href="#">
                            <img src="{{ asset('images/img11.jpg') }}" width="120" height="120" alt="image description">
                        </a>
                    </div>
                    <div class="description">
                        <time class="time"><strong>28.12.13</strong> <mark>//</mark> <strong>22:00 @ Closer</strong></time>
                        <span class="title">Marusha</span>
                        <p><em>Lorem ipsum dolor sit, consectetur adipiscing elit. sagittis magna non tincidunt euismod.</em></p>
                    </div>
                </li>
            </ul>
        </article>
        <article class="box alignleft event-box">
            <div class="photo">
                <a href="#">
                    <img src="{{ asset('images/img12.jpg') }}" width="200" height="340" alt="image description">
                </a>
            </div>
            <div class="content">
                <h2>событие недели</h2>
                <strong class="date">13–19 января</strong>
                <time class="time"><strong>14.01.14</strong> <mark>//</mark> <strong>22:00</strong><br /><strong>@ Lab</strong></time>
                <span class="title">ORIGINS: Eats<br />Everything </span>
                <p><em>Lorem ipsum dolor sit,  consectetur adipiscing  elit. sagittis magna non Suspendisse mollis dolor sit amet, consectetur  adipiscing elit. Sed et  rhoncus malesuada...</em></p>
            </div>
        </article>
    </div>
    <span class="clear">&nbsp;</span>
    <article class="box music-box small-size">
        <h2 class="title-text"><a href="#">музыка</a><i class="icon-right-dir"></i></h2>
        <ul class="music-list">
            <li>
                <div class="photo">
                    <a href="#">
                        <img src="{{ asset('images/img13.jpg') }}" width="140" height="140" alt="image description">
                    </a>
                </div>
                <h3><a href="#">Francis Harris</a></h3>
                <p>You Can Always Leave</p>
                <ul class="star">
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                </ul>
            </li>
            <li>
                <div class="photo">
                    <a href="#">
                        <img src="{{ asset('images/img14.jpg') }}" width="140" height="140" alt="image description">
                    </a>
                </div>
                <h3><a href="#">Optimo</a></h3>
                <p>Dark Was the Night</p>
                <ul class="star">
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li><i class="icon-star-filled"></i></li>
                    <li><i class="icon-star-filled"></i></li>
                </ul>
            </li>
            <li>
                <div class="photo">
                    <a href="#">
                        <img src="{{ asset('images/img15.jpg') }}" width="140" height="140" alt="image description">
                    </a>
                </div>
                <h3><a href="#">Egyptrixx</a></h3>
                <p>A/B Til Infinity</p>
                <ul class="star">
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                </ul>
            </li>
            <li>
                <div class="photo">
                    <a href="#">
                        <img src="{{ asset('images/img16.jpg') }}" width="140" height="140" alt="image description">
                    </a>
                </div>
                <h3><a href="#">Indigo</a></h3>
                <p>Storm</p>
                <ul class="star">
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li><i class="icon-star-filled"></i></li>
                    <li><i class="icon-star-filled"></i></li>
                </ul>
            </li>
            <li>
                <div class="photo">
                    <a href="#">
                        <img src="{{ asset('images/img17.jpg') }}" width="140" height="140" alt="image description">
                    </a>
                </div>
                <h3><a href="#">Various Artists</a></h3>
                <p>Feral Grind</p>
                <ul class="star">
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li><i class="icon-star-filled"></i></li>
                </ul>
            </li>
            <li>
                <div class="photo">
                    <a href="#">
                        <img src="{{ asset('images/img18.jpg') }}" width="140" height="140" alt="image description">
                    </a>
                </div>
                <h3><a href="#">7 Days of Funk</a></h3>
                <p>7 Days of Funk</p>
                <ul class="star">
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                </ul>
            </li>
            <li>
                <div class="photo">
                    <a href="#">
                        <img src="{{ asset('images/img13.jpg') }}" width="140" height="140" alt="image description">
                    </a>
                </div>
                <h3><a href="#">Francis Harris</a></h3>
                <p>You Can Always Leave</p>
                <ul class="star">
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                </ul>
            </li>
            <li>
                <div class="photo">
                    <a href="#">
                        <img src="{{ asset('images/img14.jpg') }}" width="140" height="140" alt="image description">
                    </a>
                </div>
                <h3><a href="#">Optimo</a></h3>
                <p>Dark Was the Night</p>
                <ul class="star">
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li><i class="icon-star-filled"></i></li>
                    <li><i class="icon-star-filled"></i></li>
                </ul>
            </li>
            <li>
                <div class="photo">
                    <a href="#">
                        <img src="{{ asset('images/img15.jpg') }}" width="140" height="140" alt="image description">
                    </a>
                </div>
                <h3><a href="#">Egyptrixx</a></h3>
                <p>A/B Til Infinity</p>
                <ul class="star">
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                </ul>
            </li>
            <li>
                <div class="photo">
                    <a href="#">
                        <img src="{{ asset('images/img16.jpg') }}" width="140" height="140" alt="image description">
                    </a>
                </div>
                <h3><a href="#">Indigo</a></h3>
                <p>Storm</p>
                <ul class="star">
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li class="full"><i class="icon-star-filled"></i></li>
                    <li><i class="icon-star-filled"></i></li>
                    <li><i class="icon-star-filled"></i></li>
                </ul>
            </li>
        </ul>
    </article>
    <article class="box poster-box alignleft">
        <div class="photo">
            <a href="#">
                <img src="{{ asset('images/img19.jpg') }}" alt="image description">
            </a>
        </div>
        <div class="content">
            <h2 class="title-text"><a href="#">места</a><i class="icon-right-dir"></i></h2>
            <div class="p-holder">
                <h3 class="title-closer">closer</h3>
                <div class="description">
                    <dl class="title-name">
                        <dt>Арт-клуб</dt>
                        <dd><strong><a href="#">Closer</a></strong></dd>
                    </dl>
                    <address>Нижнеюрковская, 31</address>
                </div>
            </div>
        </div>
    </article>
    <article class="box alignleft publication-box">
        <h2 class="title-text"><a href="#">Публикации</a><i class="icon-right-dir"></i></h2>
        <div class="p-holder">
            <article class="event-box width1">
                <div class="photo">
                    <a href="#">
                        <img src="{{ asset('images/img20.jpg') }}" width="200" height="340" alt="image description">
                    </a>
                </div>
                <div class="content">
                    <h2>откуда начался Berghain</h2>
                    <p><em>Lorem ipsum dolor sit,  consectetur adipiscing  elit. sagittis magna non Suspendisse mollis dolor sit amet, consectetur  adipiscing elit. Sed et  rhoncus malesuada... </em></p>
                    <time class="time no-margin">23.02.14 <mark>//</mark> <a href="#">2 комментария</a></time>
                </div>
            </article>
            <ul class="publication-list">
                <li>
                    <a href="#"><img src="{{ asset('images/img21.jpg') }}" width="120" height="120" alt="image description"></a>
                    <div class="description">
                        <h2><a href="#">Рикардо Виллалобос, Принц Томас и другие в Arma17</a></h2>
                        <p>Lorem ipsum dolor sit, consectetur adipiscing elit. sagittis magna non tincid...</p>
                        <time class="time">21.02.14 <mark>//</mark> <a href="#">8 комментариев</a></time>
                    </div>
                </li>
                <li>
                    <a href="#"><img src="{{ asset('images/img22.jpg') }}" width="120" height="120" alt="image description"></a>
                    <div class="description">
                        <h2><a href="#">Лейбл Full Pupp отмечает 10 лет</a></h2>
                        <p>Lorem ipsum dolor sit, consectetur adipiscing elit. sagittis magna non tincid. Аdipiscing elit sagittis magna...</p>
                        <time class="time">21.02.14 <mark>//</mark> <a href="#">1 комментарий</a></time>
                    </div>
                </li>
                <li>
                    <a href="#"><img src="{{ asset('images/img23.jpg') }}" width="120" height="120" alt="image description"></a>
                    <div class="description">
                        <h2><a href="#">Pan Sonic выпускает живой альбом</a></h2>
                        <p>Lorem ipsum dolor sit, consectetur adipiscing elit. sagittis magna non. Аdipiscing elit sagittis magna... </p>
                        <time class="time">21.02.14 <mark>//</mark> <a href="#">32 комментария</a></time>
                    </div>
                </li>
                <li>
                    <a href="#"><img src="{{ asset('images/img24.jpg') }}" width="120" height="120" alt="image description"></a>
                    <div class="description">
                        <h2><a href="#">Brownswood исследует низкие частоты</a></h2>
                        <p>Lorem ipsum dolor sit, consectetur adipiscing elit. sagittis magna non. Аdipiscing elit sagittis magna...</p>
                        <time class="time">21.02.14 <mark>//</mark> <a href="#">100 комментариев</a></time>
                    </div>
                </li>
            </ul>
        </div>
    </article>
    </section>
{% endblock %}